In [1]:
import numpy as np
import pandas as pd

### Handling the NAN values in the Categorical Featrues
##### 1 . Replacing the NAN with the most frequent values
##### 2. Caturing the NAN value with the New created columns 
##### 3. Creating the New categories of the NAN values with the name " Missing"

#### 1 . Replacing the NAN with the most frequent values

In [7]:
df=pd.read_csv('E:/Full Stack Data Scientist Bootcamp/datasets/advance house price prediction dataset.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [9]:
df=pd.read_csv('E:/Full Stack Data Scientist Bootcamp/datasets/advance house price prediction dataset.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [10]:
df.isna().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [13]:
df.isna().mean().sort_values()

SalePrice      0.000000
BsmtQual       0.025342
GarageType     0.055479
FireplaceQu    0.472603
dtype: float64

In [19]:
df['BsmtQual'].value_counts().sort_values(ascending=False)

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [22]:
df.GarageType.unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object)

In [23]:
df['GarageType'].value_counts().sort_values(ascending=False)

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [45]:
feature_list=list()
for i in df.columns:
    if ((df[i].isna().sum())<(df[i].count())*(40/100)):
        feature_list.append(i)

In [31]:
# ((df['GarageType'].count()*40)/100)

551.6

In [36]:
# (df['GarageType'].count())*(40/100)

551.6

In [46]:
feature_list

['BsmtQual', 'GarageType', 'SalePrice']

In [48]:
df.isna().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [49]:
feature_list.pop(-1)

'SalePrice'

In [50]:
feature_list

['BsmtQual', 'GarageType']

In [71]:
for i in feature_list:
    a=df[i].value_counts().sort_values(ascending=False).values
    print(a)
    df[i].fillna(a[0],inplace=True)

[649 618 121  35]
[870 387  88  19   9   6]

In [72]:
df.isna().sum()

BsmtQual         0
FireplaceQu    690
GarageType       0
SalePrice        0
dtype: int64

#### 2.Caturing the NAN value with the New created columns

In [84]:
df=pd.read_csv('E:/Full Stack Data Scientist Bootcamp/datasets/advance house price prediction dataset.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [85]:
df.isna().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [86]:
li=list()
li=df.isna().sum().index

In [87]:
for i in li:
    most_frequent=df[i].mode()[0]
    df[i+"_new_created_capturing_nan"]=np.where(df[i].isna(),1,0)
    df[i].fillna(most_frequent,inplace=True)

In [88]:
df.isna().sum()

BsmtQual                                 0
FireplaceQu                              0
GarageType                               0
SalePrice                                0
BsmtQual_new_created_capturing_nan       0
FireplaceQu_new_created_capturing_nan    0
GarageType_new_created_capturing_nan     0
SalePrice_new_created_capturing_nan      0
dtype: int64

In [90]:
df.SalePrice_new_created_capturing_nan.nunique()

1

In [91]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_new_created_capturing_nan,FireplaceQu_new_created_capturing_nan,GarageType_new_created_capturing_nan,SalePrice_new_created_capturing_nan
0,Gd,Gd,Attchd,208500,0,1,0,0
1,Gd,TA,Attchd,181500,0,0,0,0
2,Gd,TA,Attchd,223500,0,0,0,0
3,TA,Gd,Detchd,140000,0,0,0,0
4,Gd,TA,Attchd,250000,0,0,0,0

#### Creating the New categories of the NAN values with the name " Missing"

In [114]:
df=pd.read_csv('E:/Full Stack Data Scientist Bootcamp/datasets/advance house price prediction dataset.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [115]:
li=list()
li=df.columns
for i in li:
    df[i+"_creating_new_category_Missing"]=np.where(df[i].isna(),'Missing',df[i])

In [118]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_creating_new_category_Missing,FireplaceQu_creating_new_category_Missing,GarageType_creating_new_category_Missing,SalePrice_creating_new_category_Missing
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd,208500
1,Gd,TA,Attchd,181500,Gd,TA,Attchd,181500
2,Gd,TA,Attchd,223500,Gd,TA,Attchd,223500
3,TA,Gd,Detchd,140000,TA,Gd,Detchd,140000
4,Gd,TA,Attchd,250000,Gd,TA,Attchd,250000

In [116]:
df.isnull().sum()

BsmtQual                                      37
FireplaceQu                                  690
GarageType                                    81
SalePrice                                      0
BsmtQual_creating_new_category_Missing         0
FireplaceQu_creating_new_category_Missing      0
GarageType_creating_new_category_Missing       0
SalePrice_creating_new_category_Missing        0
dtype: int64

In [119]:
df.drop(li,axis=1,inplace=True)

In [120]:
df.head()

,BsmtQual_creating_new_category_Missing,FireplaceQu_creating_new_category_Missing,GarageType_creating_new_category_Missing,SalePrice_creating_new_category_Missing
0,Gd,Missing,Attchd,208500
1,Gd,TA,Attchd,181500
2,Gd,TA,Attchd,223500
3,TA,Gd,Detchd,140000
4,Gd,TA,Attchd,250000